table, td, th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
.displayNone{
    display: none;
}
h3{
    margin-bottom: 30px;
    margin-top: 90px;
    text-decoration: underline;
    text-decoration-color: red;
}
.fa-trash-alt{
    color:rgb(255, 113, 113);
    cursor: pointer;
    margin-right: 10px;
}
.fa-trash-alt:hover{
    color:red;
}
.fa-pen{
    color: greenyellow;
    cursor: pointer;
}   
.fa-pen:hover{
    color:green;
}
.yesBtn{
    border: 1px solid red;
    color: red;
    background-color: white;
}
.yesBtn:hover{
    cursor: pointer;
}
.noBtn:hover{
    cursor: pointer;
}
.fa-exclamation-triangle{
    color:rgb(64, 133, 224);
}
.fa-times{
    color: red;
    cursor: pointer;
}
.noBtn{
    border: 1px solid blue;
    color: blue;
    background-color: white;
}
#cancelBtn{
    padding: 7px;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
#cancelBtn:hover{
    background-color: transparent;
    color:black;
    border: 1px solid rgb(167, 204, 208);
}
#saveBtn{
    padding: 7px;
    float: right;
    margin-right: 150px;
    margin-top: 30px;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
#saveBtn:hover{
    background-color: transparent;
    color:black;
    border: 1px solid rgb(167, 204, 208);
}